[submodule "third_party/quill"]
	path = third_party/quill
	url = https://github.com/odygrd/quill.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/cli11"]
	path = third_party/cli11
	url = https://github.com/CLIUtils/CLI11.git
